LOCATE COMP "clk_100MHz" SITE "P3"; # 100 MHz LVDS clock together with P4
IOBUF PORT "clk_100MHz" IO_TYPE=LVDS;

LOCATE COMP "uart_tx" SITE "A11";
LOCATE COMP "uart_rx" SITE "C11";
IOBUF PORT "uart_tx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart_rx" IO_TYPE=LVCMOS33;

LOCATE COMP "mic_data_1" SITE "D13" ; # X4 pin 7
IOBUF PORT "mic_data_1" IO_TYPE=LVCMOS33 ;

LOCATE COMP "mic_clk_1" SITE "E13" ; # X4 pin 8
IOBUF PORT "mic_clk_1" IO_TYPE=LVCMOS33 ;

LOCATE COMP "mic_data_2" SITE "D14" ; # X4 pin 11
IOBUF PORT "mic_data_2" IO_TYPE=LVCMOS33 ;

LOCATE COMP "mic_clk_2" SITE "E14" ; # X4 pin 12
IOBUF PORT "mic_clk_2" IO_TYPE=LVCMOS33 ;

LOCATE COMP "mic_data_3" SITE "A9" ; # X4 pin 15
IOBUF PORT "mic_data_3" IO_TYPE=LVCMOS33 ;

LOCATE COMP "mic_clk_3" SITE "B10" ; # X4 pin 16
IOBUF PORT "mic_clk_3" IO_TYPE=LVCMOS33 ;

LOCATE COMP "mic_data_4" SITE "D12" ; # X4 pin 17
IOBUF PORT "mic_data_4" IO_TYPE=LVCMOS33 ;

LOCATE COMP "mic_clk_4" SITE "E12" ; # X4 pin 18
IOBUF PORT "mic_clk_4" IO_TYPE=LVCMOS33 ;

LOCATE COMP "split_out_1" SITE "A14" ; # X4 pin 9
IOBUF PORT "split_out_1" IO_TYPE=LVCMOS33 ;

LOCATE COMP "split_out_2" SITE "C14" ; # X4 pin 10
IOBUF PORT "split_out_2" IO_TYPE=LVCMOS33 ;

LOCATE COMP "split_out_3" SITE "D11" ; # X4 pin 13
IOBUF PORT "split_out_3" IO_TYPE=LVCMOS33 ;

LOCATE COMP "LED_1" SITE "F16";
LOCATE COMP "LED_2" SITE "E17";
LOCATE COMP "LED_3" SITE "F18";
LOCATE COMP "LED_4" SITE "F17";
IOBUF PORT "LED_1" IO_TYPE=LVCMOS33;
IOBUF PORT "LED_2" IO_TYPE=LVCMOS33;
IOBUF PORT "LED_3" IO_TYPE=LVCMOS33;
IOBUF PORT "LED_4" IO_TYPE=LVCMOS33;
